@model System.Collections.Generic.List<WebPortal.Models.EntityFrameworkModels.MoodleResource>

<div class="col-md-4">
    @foreach (var resource in Model)
    {
        <div>@resource.Description</div>
    }
</div>